version: 2
jobs:   
  build:
    machine: true
    steps:
      - add_ssh_keys:
          fingerprints: 
            - "61:77:68:24:96:39:f2:bc:06:2e:18:2b:85:41:c1:38"
      - checkout
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run: docker build -t victormusa/cicd-project:$CIRCLE_SHA1 .
      - run: docker push victormusa/cicd-project:$CIRCLE_SHA1
      - run:
          name: Run Smoke Test
          command: |
            echo 'Initializing Smoke Tests on the Cluster'
            ./tests/smoke.sh
            echo "GKE Cluster Tested & Destroyed"
      - run: ssh -i "aws.pem" -o StrictHostKeyChecking=no ubuntu@ec2-52-14-29-188.us-east-2.compute.amazonaws.com "sudo /bin/bash /home/ubuntu/project/deploy.sh $CIRCLE_SHA1"
