version: 2
jobs:   
  build:
    machine: true
    steps:
      - add_ssh_keys:
          fingerprints: 
            - "61:77:68:24:96:39:f2:bc:06:2e:18:2b:85:41:c1:38"
      - checkout
      - run: docker login -u $DOCKER_USER -p $DOCKER_PASS
#      - run: docker tag victormusa/cicd-project:$CIRCLE_SHA1
      - run: docker build -t victormusa/cicd-project:$CIRCLE_SHA1 .
      - run: docker push victormusa/cicd-project:$CIRCLE_SHA1
      - run: docker-compose up -d  
      - run: ssh -o StrictHostKeyChecking=no ubuntu@ec2-18-191-79-31.us-east-2.compute.amazonaws.com "/bin/bash /home/ubuntu/project/deploy.sh $CIRCLE_SHA1"
